@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import 'variables';

* {
  box-sizing: border-box;
}

main {
  font-family: $default-font-family;
}

.sign-in-wrapper {
  border: 1px solid $default-border-color;
  font-family: $default-font-family;
}

.main-nav {
  border: 1px solid $default-border-color;
}

.game-space {
  border: 1px solid $default-border-color;
  color: $empy-space-color;
  font-size: 30px;
}
