@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import 'variables';

main {
  font-family: $default-font-family;
}

h1 {
  padding: 20px;
}

h4 {
  margin: .5rem auto;
}

p {
  margin: 0 auto;
}

button {
  padding: 5px;
}

table, th, td {
  border: 1px solid black;
}

table {
  margin: 2px auto;
  width: 90%;
}

.sign-in-wrapper {
  font-family: $default-font-family;
  margin-top: 5%;
}

.sign-in-form-wrapper {
  border: 1px solid $default-border-color;
  margin-top: 5%;
  padding: 10px;
}

.security-warning {
  font-size: 80%;
  padding-top: 15px;
}

.signed-in-message {
  padding: 10px;
}

.welcome-msg {
  text-align: center;
}

.login-help-btn {
  margin-top: 5px;
}

@media screen and (min-width: 768px) {
  .nav-wrapper {
    height: 100vh;
  }
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
  .game-history-table {
    font-size: .8rem;
  }
}

.main-nav {
  border: 1px solid $default-border-color;
}

.game-space {
  border-bottom: 2px solid $default-border-color;
  border-right: 2px solid $default-border-color;
  color: $empy-space-color;
  font-size: 15vh;
}

[data-cell-index='2'] {
  border-right: 0;
}

[data-cell-index='5'] {
  border-right: 0;
}

[data-cell-index='6'] {
  border-bottom: 0;
}

[data-cell-index='7'] {
  border-bottom: 0;
}

[data-cell-index='8'] {
  border-bottom: 0;
  border-right: 0;
}

.current-turn-container {
  font-size: 5vh;
  padding: 10px;
}

.game-history {
  padding: 10px;
}

.sign-out-form {
  margin-top: 10px;
}

.victory-message {
  color: $victory-font-color;
  font-size: 8vh;
}
