$default-border-color: #000;
$default-font-color: #000;
$victory-font-color: #34c22d;
$empy-space-color: #fff;
$default-font-family: 'Roboto', sans-serif;

:export {
  defaultfontcolor: $default-font-color;
  emptyspacecolor: $empy-space-color;
}
